@charset "UTF-8";
/*GENERAL*/ /*Restaurant page*/
/*Header*/
.header-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-left: 16px;
  font-size: 22px;
}
.header-logo .container-logo {
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 500px; /*hauteur max de l'image*/
}

/*menu*/
.container-menu {
  background-color: #eaeaea;
  border-radius: 32px 32px 0 0;
  z-index: 1;
  position: relative;
  padding: 16px;
  margin-top: -48px; /*pour que me container passe au dessus de l'image*/
  display: flex;
  flex-direction: column;
}
.container-menu form {
  align-self: center; /*aligner le bouton au centre*/
  padding: 20px 0 30px;
}
.container-menu button {
  padding: 16px 50px;
  border-radius: 32px;
  background: linear-gradient(#ff79da, #9356dc); /*fera un degradé de couleur*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: none; /*retire la border*/
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.25s;
}
.container-menu button:hover {
  transform: scale(1.02); /*grossira au passage de la souris*/
  opacity: 0.9; /*reduira l'opacity au passage de la souris*/
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.menu-titre h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.heart-menu input[type=checkbox] {
  display: none; /*desactive la petite box*/
}
.heart-menu .unchecked,
.heart-menu .checked {
  position: absolute;
  right: 16px;
  top: 38px; /*pour placer le coeur*/
  font-size: 32px;
  cursor: pointer;
}
.heart-menu .unchecked {
  transition-duration: 1.5s; /*temps de transition*/
}
.heart-menu .checked {
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent; /*afin que l'icone devienne transparente et qu'on puisse faire un background-color*/
  -webkit-background-clip: text; /*afin que la zone d'arriere-plan s'etend dans le texte*/
  transition-duration: 1s;
}
.heart-menu input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  opacity: 1; /*reactive l'opacity pour faire apparaître le coeur*/
}
.heart-menu input[type=checkbox]:checked ~ .unchecked {
  display: none; /*desactive pour les bordures*/
}

@media (min-width: 992px) {
  .heart-menu:hover .checked {
    opacity: 1; /*rend visible l'element en hover*/
  }
  .heart-menu:hover .unchecked {
    opacity: 0; /*afin de rendre "invisible" pour pas voir de bordure*/
  }
}
@media (min-width: 1092px) {
  .container-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
}
.menu-body {
  overflow: hidden; /*contenu est rogné si besoin pour etre dans la boite et aucune barre sera affiché*/
  display: flex;
  flex-direction: column;
}
.menu-body h2 {
  text-transform: uppercase; /*met le texte en majuscule*/
  position: relative;
  font-weight: 350;
}
.menu-body h2::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px; /*afin de cree la barre sour les titre*/
  background-color: #99e2d0;
  bottom: -8px;
  left: 0;
}

.entrée,
.plats,
.dessert {
  display: flex;
  flex-direction: column; /*pour placer les cards en colonne*/
  overflow: hidden; /*pour que sa ne depasse pas*/
  margin-bottom: 32px;
}

/*Card menu*/
.menu-card {
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden; /*rogne pour ne pas de depassement*/
  height: 64px; /*hauteur de la card*/
  border-radius: 16px;
  margin-bottom: 16px; /*marge entre chaque card*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: fadein 3.3s; /*temps d'animation des cards à l'arrivé*/
  animation-delay: 0.01s;
  animation-fill-mode: both;
  opacity: 0;
  cursor: pointer;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.menu-card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 16px;
  flex: 1 1 0; /*raccourcie flex-grow ,shrink,basis afin d'alouer l'espace*/
}
.menu-card .card-text h3,
.menu-card .card-text p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; /*le rognage se fera à la bordure de la boîte*/ /*le tout pour un effet de point de supsenssion pendant le rognage*/
  white-space: nowrap; /*empeche le retour a la ligne*/
}
.menu-card .card-price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 40px; /*taille mini*/
}
.menu-card .card-check {
  height: 100%;
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  background-color: #99e2d0;
  transition: all 0.5s;
  width: 56px;
  margin-right: -56px;
}
.menu-card .card-check i {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
  transform: rotate(180deg); /*afin de cree une annimation lors du hover*/
  transition-duration: 0.7s; /*temps de transition*/
  transition-delay: 0.1s;
}
.menu-card input[type=checkbox] {
  display: none;
}
.menu-card input[type=checkbox]:checked ~ .card-check {
  margin: 0;
}
.menu-card input[type=checkbox]:checked ~ .card-check i {
  transform: rotate(0deg); /*pour afficher la check au clique*/
}

.delay-1 {
  animation-delay: 0.3s; /*delai des animations des cards à l'arrivé*/
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.8s;
}

.delay-7 {
  animation-delay: 2.1s;
}

.delay-8 {
  animation-delay: 2.4s;
}

.delay-9 {
  animation-delay: 2.7s;
}

.delay-10 {
  animation-delay: 3s;
}

.menu-card:hover .card-check {
  margin: 0;
}
.menu-card:hover .card-check i {
  transform: rotate(0deg); /*fera une animation de rotation*/
}

/*Restaurant page fin*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/*LOADER*/
.loader {
  -webkit-perspective: 700px;
  perspective: 700px; /*pour donner une impression de perspective*/
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  position: fixed; /*position etabli par le bloc conteneur initial alias la fenetre*/
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0.9;
  animation: loader 0.01s;
  animation-delay: 3s; /*durée d'attente*/
  animation-fill-mode: both; /*pour etendre l'animation à la fois vers l'avant et l'arriere*/
  z-index: 100; /*afin qu'il soit en premier page*/
}

.loader > span {
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  display: inline-block;
  animation: flip 2.6s linear;
  color: white;
  transform-origin: 0 70%; /*definir l'origine des transformations de l'element*/
  transform-style: preserve-3d; /*afin que les elements fils soient disposés dans l'espace tridimensionnel*/
  -webkit-transform-style: preserve-3d;
}

.loader i {
  margin-left: 16px;
}

@keyframes flip {
  35% {
    transform: rotateX(360deg); /*faire des rotation sur l'axe x*/
  }
  80% {
    opacity: 0; /*commence à mettre de l'aoppacité à 80% de charge*/
  }
  100% {
    transform: rotatex(360deg);
  }
}
@keyframes loader { /*pour cacher le loader une fois chargé a 100%*/
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
.loader > span:nth-child(2) {
  animation-delay: 0.3s; /*durée d'attente*/
}

.loader > span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
  animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
  animation-delay: 1.8s;
}

.loader > span:nth-child(8) {
  animation-delay: 2.1s;
}

.loader > span:nth-child(9) {
  animation-delay: 2.4s;
}

/*HEADER*/
.header-logo {
  display: flex;
  justify-content: center; /*centrera l'image*/
  padding: 25px 0 15px 0;
  background-color: white; /*couleur de fond*/
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 1; /*pour ravancer au premier plan*/
}

#logo {
  width: 45%; /*ajustera la taille du logo*/
}

@media (min-width: 768px) {
  #logo {
    width: 30%; /*reajustement de la taille du logo*/
  }
}
@media (min-width: 992px) {
  #logo {
    width: 20%; /*reajustement de la taille du logo*/
  }
}
/*LOCATION*/
.location {
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  background-color: #eaeaea;
  padding: 20px 0;
}
.location span {
  font-size: 20px;
  margin-left: 18px; /*pour avoir une marge entre l'icone et le texte*/
}
.location i {
  font-size: 22px; /*ajuste la taille de l'icone*/
}

/*DISCOVERY*/
.discovery {
  text-align: center;
  padding: 12px 20px 50px;
  background-color: #f6f6f6;
  margin-bottom: 40px;
}
.discovery h1 {
  font-size: 28px;
  margin-bottom: 0;
}
.discovery p {
  margin-bottom: 24px;
}
.discovery button {
  padding: 16px 20px;
  border-radius: 32px;
  background: linear-gradient(#ff79da, #9356dc); /*fera un degradé de couleur*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: none; /*retire la border*/
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.25s;
}
.discovery button:hover {
  transform: scale(1.02); /*grossira au passage de la souris*/
  opacity: 0.9; /*reduira l'opacity au passage de la souris*/
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /*legere difference de box shadow en hover*/
}

/*FUNCTIONARY*/
.functionary {
  padding: 0 24px;
}
.functionary h2 {
  margin: 0 0 32px 0;
}
.functionary ol {
  display: flex;
  flex-direction: column; /*fera une liste en colonne*/
  justify-content: center;
  gap: 32px;
  padding: 0;
  margin: 0 0 50px;
}
.functionary span {
  display: flex;
  align-items: center; /*centrera verticalement*/
  justify-content: center; /*centrera horizontalement*/
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  height: 30px;
  width: 30px;
  margin-left: -36px;
}
.functionary li {
  list-style-type: none; /*retire l'attribut des listes*/
  display: flex;
  align-items: center; /*centrera verticalement*/
  background-color: #f6f6f6;
  padding: 18px 24px;
  border-radius: 20px;
  gap: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.functionary li i {
  color: #7e7e7e;
}
.functionary li:hover {
  background-color: #f5edff; /*changera la couleur de fond au passage de la souris*/
}
.functionary li:hover i {
  color: #9356dc; /*changera la couleur de l'icone au passage de la souris*/
}

@media (min-width: 768px) {
  .functionary {
    text-align: center;
  }
  .functionary ol {
    flex-direction: row; /*pour mettre en ligne et remplacer la colonne*/
  }
}
/*RESTAURANTS*/
#restaurant {
  padding: 50px 24px;
  background-color: #f6f6f6;
}
#restaurant h2 {
  margin: 0 0 32px 0;
}

.container-restaurant-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.restaurant-card {
  background-color: white;
  border-radius: 16px;
  position: relative;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.restaurant-card:hover {
  box-shadow: rgba(255, 121, 218, 0.7) 0px 10px 15px -3px, rgb(147, 86, 220) 0px 4px 6px -2px; /*box-shadow aux couleurs du site afin d'attirer l'oeil sur les cards au passage de la souris*/
  transform: scale(1.02); /*grossissement au passage de la souris*/
}
.restaurant-card a {
  text-decoration: none;
  color: black;
}
.restaurant-card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 16px 16px 0 0;
}
.restaurant-card span {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 5px 13px;
}
.restaurant-card h3 {
  margin: 0;
  padding: 15px 12px 3px 12px;
}
.restaurant-card p {
  margin: 0;
  padding: 0 12px;
  font-weight: 300;
}
.restaurant-card input[type=checkbox] {
  display: none; /*pour desactiver la checkbox d'origine*/
}
.restaurant-card .unchecked,
.restaurant-card .checked {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 32px;
  cursor: pointer;
}
.restaurant-card .unchecked {
  transition-duration: 1.5s; /*temps de transition*/
}
.restaurant-card .checked {
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent; /*afin que l'icone devienne transparente et qu'on puisse faire un background-color*/
  -webkit-background-clip: text; /*afin que la zone d'arriere-plan s'etend dans le texte*/
  transition-duration: 1s;
}
.restaurant-card input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  opacity: 1; /*pour faire apparaitre quand c'est coché*/
}
.restaurant-card input[type=checkbox]:checked ~ .unchecked {
  display: none; /*desactive quand c'est coché*/
}

@media (min-width: 768px) {
  .container-restaurant-card {
    display: grid;
    grid-template-columns: 1fr 1fr; /*afin de cree deux colonne*/
  }
}
@media (min-width: 992px) {
  #restaurant h2 {
    text-align: center;
  }
  .container-restaurant-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .heart:hover .checked {
    opacity: 1; /*rend visible l'element en hover*/
  }
  .heart:hover .unchecked {
    opacity: 0; /*afin de rendre "invisible" pour pas voir de bordure*/
  }
}
/*FOOTER*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 10px 24px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 16px;
  color: white;
  font-weight: 300;
}
footer a {
  text-decoration: none;
  line-height: 24px;
  color: white;
  width: 185px;
}
footer a:hover {
  text-decoration: underline; /*pour faire apparaître une ligne sous les liens*/
}
footer i {
  margin-right: 8px;
}

@media (min-width: 768px) {
  footer {
    text-align: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
