/*GENERAL*/
@import "./Utils/variables.scss";

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

/*LOADER*/
.loader{
	-webkit-perspective:700px;
	perspective: 700px; /*pour donner une impression de perspective*/
    display: flex;
    align-items: center;    /*afin de centrer les element au centre*/
    justify-content: center;
    position: fixed;    /*position etabli par le bloc conteneur initial alias la fenetre*/
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient($two-color, $first-color);
    opacity: 0.9;
    animation: loader 0.01s;    
    animation-delay: 3.5s;   /*durée d'attente*/
    animation-fill-mode: both;  /*pour etendre l'animation à la fois vers l'avant et l'arriere*/
    z-index: 100;   /*afin qu'il soit en premier page*/
}
.loader>span{
	font-size: 40px;
	font-family: "Shrikhand",sans-serif;
	display: inline-block;
	animation:flip 2.6s linear;
    color: white;
	transform-origin:0 70%; /*definir l'origine des transformations de l'element*/
	transform-style:preserve-3d;    /*afin que les elements fils soient disposés dans l'espace tridimensionnel*/
	-webkit-transform-style:preserve-3d;
}
.loader i {
    margin-left: 16px;
}
@keyframes flip{
	35%{
		transform: rotateX(360deg); /*faire des rotation sur l'axe x*/
	}
    80% {
        opacity: 0; /*commence à mettre de l'aoppacité à 80% de charge*/
    }
	100%{
		transform: rotatex(360deg);
	}
}
@keyframes loader { /*pour cacher le loader une fois chargé a 100%*/
    100% {
      opacity: 0;
      display: none;
    }
}
.loader>span:nth-child(2){
	animation-delay: 0.4s;  /*durée d'attente*/
}

.loader>span:nth-child(3){
	animation-delay: 0.7s;
}

.loader>span:nth-child(4){
	animation-delay: 1s;
}

.loader>span:nth-child(5){
	animation-delay: 1.3s;
}

.loader>span:nth-child(6){
	animation-delay: 1.6s
}

.loader>span:nth-child(7){
	animation-delay: 1.9s
}
.loader>span:nth-child(8){
	animation-delay: 2.2s
}
.loader>span:nth-child(9){
	animation-delay: 2.5s
}
/*HEADER*/
.header_logo {
    display: flex;
    justify-content: center;    /*centrera l'image*/
    padding: 25px 0 15px 0;
    background-color: white;       /*couleur de fond*/
    box-shadow: 0 0 8px rgb(0 0 0 / 35%);   
    position: relative;
    z-index: 1;     /*pour ravancer au premier plan*/
}
#logo {
    width: 50%;     /*ajustera la taille du logo*/
}

/*LOCATION*/
.location {
    display: flex;
    justify-content: center;    
    align-items: center;    /*centre l'icone au reste*/
    background-color: #eaeaea;
    padding: 20px 0;
    span {
        font-size: 20px;
        margin-left: 18px;  /*pour avoir une marge entre l'icone et le texte*/
    }
    i {
        font-size: 22px; /*ajuste la taille de l'icone*/
    }   
}

/*DISCOVERY*/
.discovery {
    text-align: center; 
    padding: 12px 20px 50px;
    background-color: #f6f6f6;
    margin-bottom: 40px;
    h1 {
        font-size: 28px;
        margin-bottom: 0;
    }
    p {
        margin-bottom: 24px;
    }
    button {
        padding: 16px 20px;
        border-radius: 32px;
        background: linear-gradient($two-color, $first-color);  /*fera un degradé de couleur*/
        box-shadow: 0 5px 10px rgb(0 0 0 / 30%);            
        border: none;   /*retire la border*/
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.25s; 
        &:hover {
            transform: scale(1.02);     /*grossira au passage de la souris*/
            opacity: 0.9;           /*reduira l'opacity au passage de la souris*/
        }
    }
}
/*FUNCTIONARY*/
.functionary {
    padding: 0 24px;
    h2 {
        margin: 0 0 32px 0;
    }
    ol {
        display: flex;
        flex-direction: column; /*fera une liste en colonne*/
        justify-content: center;    
        gap: 32px;
        padding: 0;
        margin: 0 0 50px;
    }
    span {
        display: flex;  
        align-items: center;    /*centrera le chiffre verticalement*/
        justify-content: center;    /*centrera le chiffre horizontalement*/
        border-radius: 50%;
        background-color: $first-color;
        color: white;
        height: 30px;
        width: 30px;
        margin-left: -36px;
    }
    li {
        list-style-type: none;  /*retire l'attribut des listes*/
        display: flex;
        align-items: center;    /*centrera verticalement*/
        background-color: #f6f6f6;
        padding: 18px 24px;
        border-radius: 20px;
        gap: 16px;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        i {
            color: #7e7e7e; 
        }
        &:hover {
            background-color: #f5edff;  /*changera la couleur de fond au passage de la souris*/
                i {
                    color: $first-color;    /*changera la couleur de l'icone au passage de la souris*/
            }
        }
    }
}
/*RESTAURANTS*/
.restaurant {
    padding: 50px 24px;
    background-color: #f6f6f6;
    h2 {
        margin: 0 0 32px 0;
    }   
}
.container_restaurant-card {
    display: flex;
    flex-direction: column; 
    gap: 16px;
}
.restaurant_card {
    border-radius: 16px;
    position: relative;     /*pour cree un contexte d'empilement*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    a {
        text-decoration: none;
        color: inherit;
    }
    .news {
        position: absolute;     
        right: 16px;        /*placement  par rapport a son ancetre le plus proche*/
        top: 16px;
        background: $third-color;
        padding: 8px 16px;
        color: #1b6150;
    }
}
.restaurant_card-img {
    height: 192px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
    }
}
.restaurant_card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-radius: 0 0 16px 16px; 
    padding: 12px;
    h3,p {
        margin: 0;
    }
}
.heart {
    position: relative;
    .hoveroff {
        position: absolute;
        transition-duration: 1.5s;  /*temps de transition*/
    }
    .hover {
        opacity: 0;    /*cache l'element avant le hover*/
        transition-duration: 1s;
        background: linear-gradient($two-color, $first-color);
        -webkit-background-clip: text;  /*afin que la zone d'arriere-plan s'etend dans le texte*/
        -webkit-text-fill-color: transparent; /*afin que l'icone devienne transparente et qu'on puisse faire un background-color*/
        }
    &:hover .hover {
        opacity: 1; /*rend visible l'element en hover*/
    }
    &:hover .hoveroff {
        opacity: 0; /*afin de rendre "invisible" pour pas voir de bordure*/
    }
    i {
        font-size: 32px;
    }
}
/*FOOTER*/
footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 10px 24px;
    h3 {
        font-family: "Shrikhand", cursive;
        margin-bottom: 16px;
        color: white;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        line-height: 24px;
        color: white;
        width: 185px;
        &:hover {
            text-decoration: underline;     /*pour faire apparaître une ligne sous les liens*/
        }
    }
    i {
        margin-right: 8px;
    }
}
