/*Restaurant page*/
/*Header*/
.header-logo {
    a {
        display: flex;
        align-items: center;       
        text-decoration: none;
        color: inherit;
        margin-left: 16px;
        font-size: 22px;
    }
    .container-logo {
        @include center;
        width: 100%;
    }
}
img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;  /*hauteur max de l'image*/
}
/*menu*/
.container-menu {
    background-color: #eaeaea;
    border-radius: 32px 32px 0 0;
    z-index: 1;
    position: relative;
    padding: 16px;
    margin-top: -48px;      /*pour que me container passe au dessus de l'image*/
    display: flex;
    flex-direction: column;
    form {
        align-self: center;     /*aligner le bouton au centre*/
        padding: 20px 0 30px;
    }
    button {
        padding: 16px 50px;
        border-radius: 32px;
        background: linear-gradient($two-color, $first-color);  /*fera un degradé de couleur*/
        box-shadow: 0 5px 10px rgb(0 0 0 / 30%);            
        border: none;   /*retire la border*/
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.25s; 
        &:hover {
            transform: scale(1.02);     /*grossira au passage de la souris*/
            opacity: 0.9;           /*reduira l'opacity au passage de la souris*/
            box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
        }
    }
}
.menu-titre {
    h1 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
    }
}
.heart-menu {
    input[type="checkbox"]{
        display: none;  /*desactive la petite box*/
    }
    .unchecked,
    .checked {
        position: absolute;
        right: 16px;
        top: 38px;      /*pour placer le coeur*/
        font-size: 32px; 
        cursor: pointer;
    }
    .unchecked {
        transition-duration: 1.5s; /*temps de transition*/
    }
    .checked {
        opacity: 0;
        background: linear-gradient($two-color, $first-color);
        -webkit-text-fill-color: transparent;       /*afin que l'icone devienne transparente et qu'on puisse faire un background-color*/
        -webkit-background-clip: text;      /*afin que la zone d'arriere-plan s'etend dans le texte*/
        transition-duration: 1s;
    }
    input[type="checkbox"]:checked ~ .checked {
        display: inline-block;
        opacity: 1;     /*reactive l'opacity pour faire apparaître le coeur*/
    }
    input[type="checkbox"]:checked ~ .unchecked {
        display: none;      /*desactive pour les bordures*/
    }
}
@media (min-width: 992px) {
    .heart-menu:hover .checked {
        opacity: 1; /*rend visible l'element en hover*/
    }
    .heart-menu:hover .unchecked {
        opacity: 0; /*afin de rendre "invisible" pour pas voir de bordure*/
    }
}
@media (min-width: 1092px) {
    .container-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }
}
.menu-body {
    overflow: hidden; /*contenu est rogné si besoin pour etre dans la boite et aucune barre sera affiché*/
    display: flex;
    flex-direction: column;
    h2 {
        text-transform: uppercase;  /*met le texte en majuscule*/
        position: relative;
        font-weight: 350;
        &::after {
            content: "";
            position: absolute;
            width: 64px;
            height: 4px;      /*afin de cree la barre sour les titre*/
            background-color: $third-color;
            bottom: -8px;
            left: 0;
        }
    }
} 
.entrée,
.plats,
.dessert {
    display: flex;
    flex-direction: column; /*pour placer les cards en colonne*/
    overflow: hidden;   /*pour que sa ne depasse pas*/
    margin-bottom: 32px;
}
/*Card menu*/
.menu-card {
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;   /*rogne pour ne pas de depassement*/
    height: 64px;   /*hauteur de la card*/
    border-radius: 16px;
    margin-bottom: 16px;    /*marge entre chaque card*/
    @include card-shadow;
    animation: fadein 4.4s;
    animation-delay: 0.01s;
    animation-fill-mode: both;
    opacity: 0;
    cursor: pointer;
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        margin: 0 16px;
        flex: 1 1 0;    /*raccourcie flex-grow ,shrink,basis afin d'alouer l'espace*/
        h3,
        p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;    /*le rognage se fera à la bordure de la boîte*/ /*le tout pour un effet de point de supsenssion pendant le rognage*/
            white-space: nowrap;    /*empeche le retour a la ligne*/
        }
    }
    .card-price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        min-width: 40px;    /*taille mini*/
    }
    .card-check {
        height: 100%;
        @include center;
        background-color: $third-color;
        transition: all 0.5s;
        width: 56px;
        margin-right: -56px;    
        i {
            height: 24px;
            width: 24px;
            @include center;
            background-color: white;
            border-radius: 50%;
            color: $third-color;
            transform: rotate(180deg);  /*afin de cree une annimation lors du hover*/
            transition-duration: 0.7s;  /*temps de transition*/
            transition-delay: 0.1s;
        }
    }
    input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"]:checked ~ .card-check {
        margin: 0;
        i {
        transform: rotate(0deg);    /*pour afficher la check au clique*/
        }
    }
}
.delay-1 {
    animation-delay: 0.4s;
}
.delay-2 {
    animation-delay: 0.8s;
}
.delay-3 {
    animation-delay: 1.2s;
}
.delay-4 {
    animation-delay: 1.6s;
}
.delay-5 {
    animation-delay: 2s;
}
.delay-6 {
    animation-delay: 2.4s;
}
.delay-7 {
    animation-delay: 2.8s;
}
.delay-8 {
    animation-delay: 3.2s;
}
.delay-9 {
    animation-delay: 3.6s;
}
.delay-10 {
    animation-delay: 4s;
}

.menu-card:hover .card-check {
    margin: 0;
    i {
    transform: rotate(0deg);    /*fera une animation de rotation*/
    }
}
/*Restaurant page fin*/

