/*Restaurant page*/
/*Header*/
.header-logo {
    a {
        display: flex;
        align-items: center;       
        text-decoration: none;
        color: inherit;
        margin-left: 16px;
        font-size: 22px;
    }
    .container-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}
/*menu*/
.container-menu {
    background-color: #eaeaea;
    border-radius: 32px 32px 0 0;
    z-index: 1;
    position: relative;
    padding: 16px;
    margin-top: -48px;
}
.menu-titre {
    h2 {
        font-family: "Shrikhand", cursive;
        font-weight: 500;
    }
}
.heart-menu {
    input[type="checkbox"]{
        display: none;
    }
    .unchecked,
    .checked {
        position: absolute;
        right: 16px;
        bottom: 98px;
        font-size: 32px;
        cursor: pointer;
    }
    .unchecked {
        transition-duration: 1.5s; /*temps de transition*/
    }
    .checked {
        opacity: 0;
        background: linear-gradient($two-color, $first-color);
        -webkit-text-fill-color: transparent;       /*afin que l'icone devienne transparente et qu'on puisse faire un background-color*/
        -webkit-background-clip: text;      /*afin que la zone d'arriere-plan s'etend dans le texte*/
        transition-duration: 1s;
    }
    input[type="checkbox"]:checked ~ .checked {
        display: inline-block;
        opacity: 1;
    }
    input[type="checkbox"]:checked ~ .unchecked {
        display: none;
    }
}
@media (min-width: 992px) {
    .heart-menu:hover .checked {
        opacity: 1; /*rend visible l'element en hover*/
    }
    .heart-menu:hover .unchecked {
        opacity: 0; /*afin de rendre "invisible" pour pas voir de bordure*/
    }
}
.menu-body {
    overflow: hidden; /*contenu est rogné si besoin pour etre dans la boite et aucune barre sera affiché*/
    display: flex;
    flex-direction: column;
    h3 {
        text-transform: uppercase;
        position: relative;
        font-weight: 400;
        &::after {
            content: "";
            position: absolute;
            width: 64px;
            height: 4px;
            background-color: $third-color;
            bottom: -8px;
            left: 0;
        }
    }
} 